body {
	background-image: url("pic.jpg");
}

#chat{
	height:550px;
	width:700px;
}


#message{
	height:50px;
	width:300px;
}

#chatWrap{
	float:left;	
}
 #online{
 	
 	color:white;
 	font-weight: bold;
 	font-family:Arial;
 	top:20px;
 	left:900px;
 	position:fixed;

 }

#contentWrap{
	display:none;

}

#sendmessage{

	position:fixed;
}

h2 {
	color: #CC6699;
	font-size: 28pt;
	text-align: center;
	letter-spacing: 3px;
	text-shadow: 3px 2px black;
	font-weight: bold;
	
}

#pic {
	position: fixed;
	right: 100px;
	top: 40px;
}


.elements {
	position: fixed;
	right: 550px;
	top: 250px;
	
}	

.error{
	color:red;
	font-size: 15pt;
	font-weight: bold;
	font-family:Arial;
}

.private{
	color:white;
	font-style:italic;
}